<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: #ece5dd;
        font-family: sans-serif;
      }
      .chat {
        display: flex;
        flex-direction: column;
      }
      .chat-buble-one {
        background-color: #1a5f7c;
        color: #ffffff;
        margin: 5px;
        padding: 10px;
        border-radius: 10px;
        width: 50%;
      }
      .chat-buble-one span {
        font-weight: lighter;
        color: #e1e1e1;
      }
      .chat-buble-two {
        background-color: #075e54;
        color: #ffffff;
        margin: 5px;
        padding: 10px;
        border-radius: 10px;
        width: 50%;
        margin-left: auto;
      }
      .chat-buble-two span {
        font-weight: lighter;
        color: #e1e1e1;
      }
      .pagination {
        display: inline-block;
      }
      .pagination a {
        color: #ffffff;
        float: left;
        padding: 8px 16px;
        margin: 3px;
        border-radius: 5px;
        background-color: #000000;
        text-decoration: none;
      }
      .disabled-link {
        background-color: #5d5d5d !important;
        pointer-events: none;
      }
    </style>
  </head>
  <body>